<h1>Home</h1>

<div>

</div>
<div class="imgTextalign">
    <img src="/assets/img/vladimir-riding-a-horse.jpeg" alt="">
    <div class="textBox">
        <h2>Welcøme</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem quis cum distinctio vel sed recusandae eum
            rerum harum quaerat quidem doloremque, a, est ab! Et quidem labore enim placeat nemo.</p>
    </div>
</div>

<div class="boxFlag">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae aperiam molestias dicta adipisci
    dolorem. Nobis impedit porro sint fugit ratione ipsa, incidunt quam? Optio vitae molestias officiis explicabo,
    eligendi namipsum dolor sit amet consectetur adipisicing elit. Quae aperiam molestias dicta adipisci
    dolorem. Nobis imims pedit porro sint fugit ratione ipsa, incidunt quam? Optio vitae molestias officiis explicabo,
    eligendi namipsum dolor sit amet consectetur adipisicing elit. Quae aperiam molestias dicta adipisci
    dolorem. Nobis impedit porro sint fugit ratione ipsa, incidunt quam? Optio vitae molestias officiis explicabo,
    eligendi namipsum dolor sit amet copedit porro sint fugit ratione ipsa, incidunt quam? Optio vitae molestias officiis explicabo,
    eligendi namipsum dolor sits iimpedit porro sint fugit ratione ipsa, incidunt quam? Optio vitae molestias officiis explicabo,
    eligendi namipsum dolor sit amet consectetur adipisicing elit. Quae aperiam molestias dicta adipisci
    dolorem. Nobis impedit porro sint fugit ratione ipsa, incidunt quam? Optio vitae molestias officiis explicabo,
    eligendi namipsum dolor sit amet copedit porro sint fugit ratione ipsa, incidunt quam? Optio vitae molestias officiis explicabo,
    eligendi namipsum dolor sits impedit porro sint fugit ratione ipsa, incidunt quam? Optio vitae molestias officiis explicabo,
    eligendi namipsum dolor sit amet consectetur adipisicing elit. Quae aperiam molestias dicta adipisci
    dolorem. Nobis impedit porro sint fugit ratione ipsa, incidunt quam? Optio vitae molestias officiis explicabo,
    eligendi namipsum dolor sit amet copedit porro sint fugit ratione ipsa, incidunt quam? Optio vitae molestias officiis explicabo,
    eligendi namipsum dolor sit amet consectetur adipisicing elit. Quae aperiam molestias dicta adipisci
    dolorem. Nobis impedit porro sint fugit ratione ipsa, incidunt quam? Optio vitae molestias officiis explicabo,
    eligendi nam?
</div>
</div>